		p{
			margin-left: 20%;
			font-family: 楷体;
			font-size: 50px;
			animation: shanshuo 3s 100;
		}
		@keyframes shanshuo {
			0% {text-shadow: 3px 3px 15px red;}
			10% {text-shadow: 3px 3px 15px yellow;}
			30% {text-shadow: 3px 3px 15px blue;}
			50% {text-shadow: 3px 3px 15px green;}
			70% {text-shadow: 3px 3px 15px pink;}
			80% {text-shadow: 3px 3px 15px aqua;}
			90% {text-shadow: 3px 3px 15px black;}
			100% {text-shadow: 3px 3px 15px gray;}
		}
		#nav{
			margin: 0 auto;
		}
		body{
  			/*margin-left: 8%;*/	
  			align-content: center;
  		}
  		ul{
  			margin: 0px;
  			padding: 0px;
  			list-style-type: none;
  		}
  		ul li{
  			float: left;
  			width: 110px;
  			height:2em;
  			background-color: #0000FF;
  			text-overflow:ellipsis;
  		}
  		
  		ul li a{
  			
  			text-decoration: none;
  			white-space: nowrap;
  			width: 7em;
  			overflow:hidden;
  			color: white;
  			line-height: 2em;
  			font-size: 18px;
  		}
  		ul li ul li{
  			height: 40px;
  		}
  		ul li a:hover{
  			background-color: gray;
  			color: yellow;
  			border-bottom: 1px red solid;
  		}
  		ul li ul{
  			/*display: none;*/
  			visibility: hidden;
  		}
  		ul li:hover ul{
  			visibility:visible;
  		}